<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="<%=root%>/stylesheets/app.css">
</head>
<body>
	<div id="main">
	</div>
	<!--
	<div class="large-12 columns" id="header">
		
	</div>
	<div style="clear:both"></div>
	<div class="row maincontent" id="main">
		
	</div>
	-->
<!--
<script src="<%=root%>/js/vendor/SimplePubSub.js"></script>
<script src="<%=root%>/js/vendor/jquery.js"></script>	
<script src="<%=root%>/js/vendor/react.js"></script>		
<script src="<%=root%>/js/vendor/underscore.js"></script>	
<script src="<%=root%>/js/vendor/backbone.js"></script>	
<script src="<%=root%>/js/vendor/moment.js"></script>	
<script src="<%=root%>/js/app.js"></script>-->
<!--<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>-->

<script src="<%root%>/js/vendor.js"></script>
<script src="<%root%>/js/app.js"></script>
<script src="http://localhost:8005/socket.io/socket.io.js"></script>

<script>
  //var socket = io.connect('http://127.0.0.1:8005');
  
  //var socket = io.connect('http://bugsmash.wedinweb.no/socket/');
</script>
</body>
</html>